/*
CSS Module for Button/LinkButton components
*/

.btn {
  text-align: center;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  background-color: var(--cyan-500);
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--teal-200);
}

/*Intro component - button*/
.introBtn {
  width: 100%;
}

@media (min-width: 62.5rem /*1000px*/) {
  /*EarlyAccess component - submit button*/
  .submitBtn {
    padding: 0.5rem 1rem;
  }

  /*Intro component - button*/
  .introBtn {
    width: 50%;
  }
}

@media (min-width: 75rem /*1200px*/) {
  /*EarlyAccess component - submit button*/
  .submitBtn {
    padding: 1rem 2rem;
  }

  /*Intro component - button*/
  .introBtn {
    width: 40%;
  }
}

@media (min-width: 87.5rem /*1400px*/) {
  /*Intro component - button*/
  .introBtn {
    width: 25%;
  }
}
