/*
CSS Module for UnderLineLink
*/
.underLineLink {
  text-align: left;
  color: var(--cyan-500);
}

.underLineLink:hover {
  color: var(--white);
}

.underLineLink:hover .underline {
  border-color: var(--white);
}

/*underline element*/
.underline {
  border: 1px solid var(--cyan-500);
  width: 10.5rem;
  margin-top: 0.5rem;
}

/*link icon*/
.arrowIcon {
  width: 18px;
  height: 18px;
  margin-left: 0.4rem;
}
