/*
Global CSS Styles
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Fonts*/
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  /*Primary*/
  --navy-850: hsl(217, 28%, 15%); /*intro and email sign up background*/
  --navy-900: hsl(218, 28%, 13%); /*main background*/
  --navy-950: hsl(216, 53%, 9%); /*footer background*/
  --navy-800: hsl(219, 30%, 18%); /*testimonials background*/

  /*Accent*/
  --teal-200: hsl(176, 68%, 64%); /*inside call-to-action gradient*/
  --cyan-500: hsl(198, 60%, 50%); /*inside call-to-action gradient*/
  --red-500: hsl(0, 100%, 63%); /*error*/

  /*Neutral*/
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: var(--font-open-sans);
}

h1,
ul > li > a {
  font-family: var(--font-raleway);
}

h1,
h2,
p,
span,
button {
  color: var(--white);
}

ul {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

/*Center text*/
.text-center {
  text-align: center;
}

/*Centered flex row container*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Centered flex column container*/
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*flex column container*/
.flex-col {
  display: flex;
  flex-direction: column;
}
