/*
CSS Module for Button component
*/
.btn {
  font-weight: 700;
  border: none;
  border-radius: 16px;
  background-color: var(--cyan-500);
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--teal-200);
}

@media (min-width: 62.5rem /*1000px*/) {
  /*EarlyAccess component - submit button*/
  .submitBtn {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 75rem /*1200px*/) {
  /*EarlyAccess component - submit button*/
  .submitBtn {
    padding: 1rem 2rem;
  }
}
